body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 1500px; /* TODO: consider limit width for 4K devices */
}

.link {
  color: inherit;
  text-decoration: none;
}
